<h1>
  <form method="POST" action="/pirates">
  <label>Name:</label>
  <input type="text" name="pirate[name]">
  <label>Weight:</label>
  <input type="text" name="pirate[weight]">
  <label>Height:</label>
  <input type="text" name="pirate[height]">
</form>
</h1>
